### WEB SCRAPING-ASSIGNMENT3

Instructions:
• All questions are compulsory.

• In each of the questions you have to automate the process. You do not have to click on any button, click 

any clickable element, enter keywords in search boxes manually. Each process has to be performed via
coding.

• Q1 and Q2 are connected questions i.e. after attempting Q1 proceed to Q2. Do not write whole code 
from beginning for Q2.

• You may use any web scraping library and tools.

• The question can be attempted in various ways; the correctness of question depends on the output.

• If you encounter any Null values during scraping, you may replace it by hyphen.

Delete this cess after project completion:
1. Write a python program which searches all the product under a particular product from www.amazon.in. 
The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search 
for guitars.
2. In the above question, now scrape the following details of each product listed in first 3 pages of your 
search results and save it in a data frame and csv. In case if any product has less than 3 pages in search 
results then scrape all the products available under that product name. Details to be scraped are: "Brand 
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.
3. Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.
4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on
www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be 
scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
details is missing then replace it by “- “. Save your results in a dataframe and CSV.
5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google
maps.
6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) 
from trak.in.
7. Write a program to scrap all the available details of best gaming laptops from digit.in.
8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be 
scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.
9. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
from any YouTube Video.
10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in 
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, 
overall reviews, privates from price, dorms from price, facilities and property description.


1-Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

### Importing necessary library

In [2]:
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import selenium

from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

1-Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [94]:
#def amazon_search(keyword):
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.amazon.in/'

In [95]:
driver.get(url)
time.sleep(5)

search_box=driver.find_element_by_id('twotabsearchtextbox')
search_box.clear()

user_input=input("enter product to search:")

time.sleep(2)
search_box.send_keys(user_input)
btn=driver.find_element_by_id('nav-search-submit-button')
btn.click()

enter product to search:guitar

2.In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [107]:
#making empty lists to hold required details

Brand_name=[]
Product_name=[]
Price=[]
Return_Exchange=[]
Expected_delivery=[]
Availability=[]
Product_url=[]

#scrapping data one by one

brand=driver.find_elements_by_xpath("//span[@class='a-size-base-plus a-color-base a-text-normal']")
for i in brand:
    if i.text is None:
        Brand_name.append('--')
    else:    
        Brand_name.append(i.text.split(' ')[0])  

time.sleep(2)        
Product=driver.find_elements_by_xpath("//span[@class='a-size-base-plus a-color-base a-text-normal']")
for i in brand:
    if i.text is None:
        Product_name.append('--')
    else:    
        Product_name.append(i.text)         
        
time.sleep(2)
ex=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in ex:
    if i.text is None:
        Price.append('--')
    else:   
        Price.append(i.text)
 


time.sleep(2)
pr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in pr:
    if i.text is None:
        Return_Exchange.append('--')
    else:   
        Return_Exchange.append(i.text)


# brand   
# titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
# for i in titles[:10]:
#     Title.append(i.text)

Q2 is incomplete will sove it later. facing some problem in it.

3. Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [2]:
#fruits

Items=['fruits','cars','machine Learning','guitars','Cakes']

#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.com/'
driver.get(url)
time.sleep(4)

#click on image icons
btn=driver.find_element_by_xpath("//a[text()='Images']")
btn.click()
search_box=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

#search items
time.sleep(4)
search_box.clear()
search_box.send_keys('fruits')

c_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span")
c_btn.click()
time.sleep(4)

#creating blank list & add items into it.
fruits=[]

val=driver.find_elements_by_tag_name("img")

for i1 in val:
    fruits.append(i1.get_attribute('src'))
fruits=fruits[:10]

driver.close()

fruits

['data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAwQFBgcBAgj/xAA6EAABAwMBBQQJAgQHAAAAAAABAAIDBAURIQYSMUFRExQiYQcyYnGBkaGxwSPRM1Lh8CRCcoKSorL/xAAaAQADAQEBAQAAAAAAAAAAAAAAAwUEAgEG/8QAJhEAAgIBAwMDBQAAAAAAAAAAAAECAxEEEiEFMUETIlEjMnGhwf/aAAwDAQACEQMRAD8A3FCEIAEIQgAQhCABCq9p2tNz2nrbNDbpOzpC4PqhIC0YOBkcsnOMZ4FLbWXmWhg7vRH/ABMrc738jeGfelTtjCDm+wW/SXuJWvulFbwDWVMUWeAc7U/Dio2Xa61M9V0sg6tj/fCy+V75Kkue58sryA55JJcuyzBjG7z/AINUyWvtk/asGCWqm+yNTpdqbTUuDe8di48phu/XgpppBGQQQeiwyaqZ2eG8enQeandjdr5LfXR0NdJmileGguP8EnQEeznj049U6jWSbxYhlepbeJGroXAc80KkazqEJtcK2nt1FNWVkgjghaXPceQ/J8kHqTfCF3vZG0ue4NaBkknACh6vaCJjT3GB9W7lu+Fp/wBx/GVXp7jUXF/b1jDHHxipSRiPoXci/wCg4DqfBqWnJeTnqEiVj8FGrReZjiTau4OkMfYw0rwdWPYXkjyOQPok5dorg1kj5KkxsaN4ODGfsVX5aKdsz3QSvmY52QHPG8Pnj7omZWdxqIRA8vdE4MGQdSCBrnzWZ22m56aiPaKF9kJ6ijoaisbNJG+of20rsN8WRkcWnmT80rcK5u8Z7hUNEsmpLiBn3BR0UtQ60NpIWSQ7jWgPczBLgB/NwHLP9MwVTb6gPLpZO1ef829kn48VjulNpZ7EPq0LXJOMHj8Dnv8ATxTF5k6gjdPrH8KNrK+B2dJccAWt1HvyQvfc5QPUdjqeSSfBvHGDnhwSFYiIs/Ag6pDwQxx3eQxwKbPkLneEg58ipGGic524yNxccaYyrxsx6P3VEjKu7s7OIHIpnN1kHtdB5fZMr3WvbBHUE5vCRZ9kLhdJtnqR1fbpjIGANk7Rn6jMeF2CQRkIVla0NaAAABwAQrsYuMUslNJpYyell/pCvvedsbVs9E7MMDxUVIB4vwSwH3Ab3xC08r5l2ivEp26udzbq9la8NB5taSwD/iAFxdLESn0ypTuy/CNNmqBvHJ5pPvDXaqqz3mGpaJ4JQWOA0zqDjgkmXpjTjfyOvRZ2yzGp9i4d4YOBGUyq62NpIMm7k/391XKi9saHnOTg514KAqL1I+TwOPDTXGD1XO4bGht8lvnukUbfG8a64OnDioia7ue4sj4h2mufkqy2oc87zjwdxJTu35mqA1mjnOwMaJMpNlCqqtFjtlI6oZutaCGux4hkfP4KcZZWzRkuiYDjGN3TOmmUvaKMRsa1o04kKejg3GcMHHH7JkIcGPU3pPERh6OakW69T212eyqQTHvuyQ9uuM+7PyC00LJ64dwvdtrohjEzd/Gmuf2WsN6rTp3w18EDqtUYzjZBcSX7R1CELQSzhXyltLSy0d5rWyg+OZ72k8wXFfVxWEekm1tjuVVlvCQuaemdfylWrKKXTZ7ZtfJmomcAMOwlY6mQANDk2naWPK8tccrNtLMbWmOnzuc87x1yvAk8WiR3ui4OK82nvqsesf4ceandnmdvVgcC3CrsXTRTljn7vXMkJAHA4K4a5NsJNxNVs+HO0GmqmCRuZVetFS3IIPHxAqXkqBjlhNTwidbFykRu0JaKRrukzT91p1OcwRnqwH6LKrpG+4dlRR+tJIPitXjbuMa0cAAAm092YOqJKuteef4ekIQtBGBZ16U7UZo21cbfXbuuPtDh9FoqZXigjuVvlpZMDfHhPR3IrxrKG02enNSPlmspw44I14e5MH0zhjd+CuW1Fnlt1wmikYWkOOir7ouJWZn0UcSSaIl0bmu4Fd3HEjTCknMBcdMeS8GMLhsbGrIjDEQQHfRPId0FrjnQ64STW4d9EqwYwOB6pUihTHCwWyz3MsAa84byJH99VZhWjssk45rOIXOY5pbpr9lZbY2WoEcbcuPIdTlc7x09NHG5l62JpnV93NU8ExwjIz15LRQojZe0C0WuOF2DM7xSnz6fBTCoVR2x5Pitfer7249lwgQhCYYgQhCAKpt1su2+ULpqdo73GNPbHT3rCa2ndTTyRyAtc1xBBGMar6hVO2z2Bodpc1EUho6/H8Zjctf/AK26Z94196XOGeUb9Lq/T9s+xgTzrkcl4OCTr5q13f0a7V29x7OibWx8pKWQH/qcH5Aquy2S+RHdmstzjPtUcg/Czyg0XKdVVJfcNANdR8ErE7UHz5paOy3l58FnuLuXhpJD+FK2vYvaaveBDZauME43qhnYgefiwUtwk/BtjqqocuSGFFAZpmga9Stn2A2a7tEyvq2EHH6LHf8Ao/heNi/R1BZt2quz2VVXxDGj9Nh+PrH3/JX0DCdTRh7pEjqnVlbH0aXx5YBdQhaj54EIQgAQhCABCEIAFzCEIA4uoQhAdQhCABCEIAEIQgD/2Q==',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAABgUHAQMEAv/EADgQAAIBAwMCAwYEBAYDAAAAAAECAwAEEQUSITFRE0FhBiIycYGhBxSRsSMzUsFCQ2Lh8PEVcoL/xAAZAQADAQEBAAAAAAAAAAAAAAAAAgQDAQX/xAAkEQACAgICAgICAwAAAAAAAAABAgADBBESIQUxE0EiUWGRsf/aAAwDAQACEQMRAD8AvGtD3MaXMVuc+JIrMvHGBjP7it9LOpySHVZkJOUCmM/0gAZx6+9mpsvJGPXzIjovI6k3e6jaWO03c6R7iFUHqSeAPqa6IpElQPGwKnzqKs1ttXRbmQhyAqsisRhlJOeDz1BHH71LRxpEipGoVVGAB5Vujh1DCKRrqeqKwa03UxigZ0AZ+iA+bHgfemnJF3vtTpNndPay3GZozh1Vc7T6npUhp+pWmoxl7KdJQPi2nlfnUTqGg6fNLG17B40bbVaQMVcP0BypBweMjpnB8zUrY2NlpkIhs4Y4EJ6KMbj6nzNIOXLv1Od7nZRXlmCqWJAAGST5Uv3erzXcZ/Kx+HGfeilZyHPY7ccD5nkdQKW2+uobc6nZNJe20l21qkyNOi7mQHJAziuikf2ct5tInmuZ5Uuribh22ldq9l5P7eQpvsrhrlHdk2gOQvqP+ftSUZCXA8TDv7nTRRRVEIVB6/pxlaO9ij3yQj3lA5IwRkeeQGYcc4Y9gKnKMVldUtyFG9GdVip2Iq2d34Eiz2xDIVGVz1Xsf7HpTJa3MVzHvibPOCD1U9jXFeaLaXMhlAaGQnJaM4ye+OmfXrXnT9H/ACdyJvzUr4GNg4U/PvUGHj5GM3De0/ya2Mr9/ckZ4lmjMb7tpI+FiD+oqjNY9q9ZvdQuZVvriBUmdVhhlZAoBIAwDjIwPrzV7GkjWvw207UtSlvYLuezMzl5Y41UqzHqRkcE/pV9qsw/GVeOvopsJuGx/crG81fUroxyXF/cSSIMZMp3AdOG6/fuepp2/Cie5uru7jumM8UarKDIS22TOMjPnjNT1x+HGgzW0ESC4heEEGaOQb5M8+9kEH9OKntA0Gw0G0a3sIyAzbndzlnPcn+3SkStw2yZVlZ+NZjmutNE/wAD9zq1OF7jTbqGP45IWVfmRSmjQ3MCe+VAwdoYqQQeM+fUdPoadqjrjRNPuJzNJB77HLbXZQx7kA1Pm4jX6KnsTxgYvIghVizsc8sWPn5n0+XSmfTEaOzQMCCcnB7eVaYdEsIZhKkTEjlQ0jMqn0BOKka7h4jUbLHZMCdwoooq+chWq6njtbeSedtsUalnbGcAVtpG/EbXLuyMGm2hQC5iYykruO3OMYIxzz+lK7BV2Y9dT2twQbMZxrml+L4R1C2WXdt2NIAScA4wfn/auuCfxZZ08KRPCfZuYcP7oOR6c4+YNUQsm5yMBi2QdrZ4HBzk+uPpVrexV02qaTbSzSyGWzdo+HOGG3jd34P2rKu7mdal2T456KFtP37H6jRUVrmrPpUcbJp93dl8/wAhCwUjHBxkjPy8qkZpEhiaSRwiIMsx6AUr3GqyXaiIyskO1nZyhQyAd/6V5HBOT8gRXL70pXbe552tyX0XVX1MMXspbUqoJWVhnO5h0H/qalaRovDhu2xIwdECxe+SygckKPPv5nk0waRqhuJSk5IaTmPjAOByB5g8Zwc+fJxxnRmJaePozupM1jNcerIj6dcGRA6ohfac4JXkZx6gVW97cPLcmWWSQzM2BIRuYfXy/YVQ7hZTi4rZBOjrUf4dfsrjUksbcSSs3+YoGwcE9c58u3X61LVVWlXt1plx+ZsZlnILb4piGDnJLDd1VieM9zyKsfS7s30C3SbPy00aSQMCdxUjPI8qWliwO4uRjPQfyndRRRW0nhSN7caJPr0q3mkr4lzYMYJoGIXxAQrjaTxkZ7jqaeawFAzgDnk0rqGGjNaLnpsFiexKNksNQt2KTaZfKw8vyz9fQ4qxPw2s7m20m4kuoXi8efciOpVtoUDOD65/Sm+sVlXQEbYMuy/KWZNXxsoE4Nehmn0yVLYEyAqwUdTgg8evHFK8bWtyFVlRniPwuvKHGD16HGaeK55rO1ncNNbxSMOhdASKny8L52DBtETzQYmRvG1zL4o/huqiPf0dR/i58s5APnjNdlmzXd9FFae+Y5VaV15EYBBwT3I8qaLi0trpQtzBFMF6CRA2P1rZFFHEgSJFRB0VRgD6VknjQtofl0IbmWUMhVhkEYIPnVa+0enpp11JBdBTby5KGQe669ueCR5/71ZleSoJ5Ga9F05DUoxslsd+Q7lXWek6hqpEenwPGjEbrl1KIg7jPxH5fqOtWXp9pHY2UFrD/LhjVF+QGK31mhECTuTlvkEcugIUUUU8lhWCQOtZNJf4g6jKrWOmQOyx3IeScqcFkXA257EkZ9Bis7bBWhYzWmo3WBB9yT132u0zS7d2juIbqcNs8GKZchsH4uw45PlWfZW91bUUlu9S8JIJAPASOMqMc5OSSSOnPQ1X8kqlgjRhVTARVUYAHb0Hem72Hu5TLJaliYwNwB8j6ff7VHRmfLZxI1Lsnxppr+QNvX1HKovWNWttOUbrqFJwQwgZhvkXOMAZ+/QY54zUpVT+2tre2usTCcHw7iVpYZMgh+n190bVwewxXp1pzbU85F5HUm5PxAdtQUQWYFkCA3ifzD3IwSB9/mKdbW4abxN0TxhX2qW/zBgHcPTn7VR+TuPiZTj71a/sfbtJo1heXUvjXAjcI+8narEEqe590VrdWqgER7EC+ow1y3FyUmjigCSSFh4ibwGRD/ix+ler26itITJKT2CjkseuAO/BqtNd12bUJrh4YBaoeHRVAeUAdHbjPHGM4HripiQJpjYr5DaWNF/7ZQ2dv/JEt2Mlo4pNyJzwC3QnHUDPORmpX2f1STUUu1mCiS3nKBkGA6EBkYDJ6qw+oNVOSX8USIVXGxRswenkQfp5dPlT7+H6Evq0wC7PEhh3K+7c8cSo+exDAj6UoYkynOxK8dF4nsxxooop55sDSz7T+zA1Gyt//GlILm0LeCGztZW+JSeoyQDnuKZqKV0DrxMet2rYMvsSqW03VoX8KbSrvxOmUTcp/wDoZH3pw9ndFu7CzaUskV5Ljh/eCDIyDjqcUy4oAqenErqbkJXkeQtvTg3qZqE1nSINeke1voJY44Arw3MbgEsdwYDr0wMg56jtU3RVYJHYkIOpVWq+wurWW38o4vUZj70ShZB23bjjz/6qyNGtfyOlWtrtVTFEqsFORuxzz5855rtopmsZhoxixPucuo2FvqNq1tdx74yQw5wVYHIYEcgggEEUnaj7JX4kZo/CvFLjDrJ4EoX/AFDBVj6jZnt3e6KzI3Grtes7Q6lfWvsbqE7ncy2K5P8AGMollUY4KAAKp9Tux1xmnbTNPt9Mso7S0QJEmfmxJySfUnJrrooCgQste08nOzCiiiuzOFFFFEJHa7ey2Ni80G3eA2Nwz0Un+1RV3r93De28KJDtkVi2VPkrnv8A6RRRRCbH1y6F2IgkO3LjofJgB5+tb7fVLiSO5dlj9yZEUYPQ/WiiiE2aZqc13O8ciRgLGre6D1IHr61F3Ov3qX4hURbN0o+H+h3A+yj71iiiEJNevQFAMfxOudvYcH58/aty6xdn84SyfwJNqjb16HmiiiEZR0rNFFEIUUUUQn//2Q==',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAABQYCAwQBB//EADkQAAEDAgQDBgQFAQkAAAAAAAECAwQAEQUSITETUXEGFCJBYYEyM1KRobHB0fBCBxUkVHKCkqLh/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAMCBAH/xAAhEQACAgIDAQADAQAAAAAAAAABAgADERIEITFBEzJxYf/aAAwDAQACEQMRAD8A+40pSkTS/ISyQFAm/Ktffm/pXWvEfib6H9K+c4Zj89/HUR3HVl1TxQ5GtcIF7HblzHLrULrxUQCPZRK989+T6V31v6VfhTvqPpVVe7QTZWH4ep+G20tYNjxSbD7VEQu16nXWQ/DAQ4Bq2vW+xtfcX5V6/IRG1aUr4tti7KJeO+t/Sqve+t/SqoPGZTkKGXWSnPewuL1H4TKxCa+y+VFbGy9AlP8APesPylSwV4JJmVoZkL56lr76j6VU7839KqrWP4q1BDcYSENSX/lgkXPT+c658ExrjrMR9ZckCxSBvYk3J9B/L1o8hBb+P7MislN5dgbgEede1i38tPQVlV5OKUpSIpSlIkbjAeIa7uttK768RJUCNLjQiostYhmSsOwi5spRYVt/yvz86k8akIitpedzZEg3yi58vKqlM7TTEYkwiHg85+EfjdQwo3/asNYqnBmtW12+SwhuX3ZYU4wX7+BXDOUDkRe/PzrU3EkKkNuSe5OBHmmOQr0sSo2rVj+KLwvDDLaZLqjaySDpoTqOelutVOJ/aG65ICFYY4c5Gg0y6agb/wANSs5NVbasZ008O+1N6x1/ZcXI093Ohx6GtoqJCVR1EgX01z77UQziLSUpadhJQBqOCrQ+ni2ronyDFiOPpbUspGiQLmq3hnal2TiTMZSEOJdUE+FJBHrXlvJqqsCN6ZJKXdSR4JOyI0p1tA4kVSwnxFbJIvrsM3Tz589NbEWYyUhKoIbzXWER1JJ6eLffXpWeIYvFw99pmQVAu7EDQCuaF2giyy2hTa23XFlCUfF+NenlUh9C3cCiwrsB1LW38tPQVlWLfy09BWVdEjFKUpEUpSkTgxMrASWwCuxsCelR7DsxToD0Vttv6kv5j9so/OvO2WLpwTDhNW0XLKyBN7C55n2/Kqsrt+2zh7Ul7CZQKt9bIA8iFEa36VJ760OrHEsnHsddlHUtMlcvOUNw2XmTuVvZbjplPnWtPfGkJDeGxxYfCl/KAfK3h2/esZeKFvs67izEdxZTEMhDChZR8Nwk1Vuw3bdfaBxDT+TirPwJRaw5/hR7FUjI9nqUuysR8lyU5NDKVJjNF3McyC/YBPO+Xfbyrnyy0uF9vC4YeJ8S+PY265K65kpmGwp6Q6htA0BWoAE+Q18zVWndqZKVstoS0ypxRy+ZUBbTXqKnyOTVR+88qpew4WWQqlOMHiwmc+axbL1wU23vl5+Vq1MmWhSU/wB2xmUXAJQ/sPOwyD9K2zpZi4a5KWAhSW72VsFevvUJ2GlzpuGSH8RktvKU+ot5HAsJRc5dR6W/GqGxdwuOzPAjaFpeG/lp6Csqxb+WnoKyqslFKUpEUpSkSOxlCFs2dYD6cqjwrA5/Sx0qvd0huuAOYPMA0JCgnL56Hxa7beoqxYu6WWuIlOYpBsOe1UyD2rkPzeEqOOGSBmymxvtr/PeuXkPx1K/lx/ktUljA6S1SF8FkFEdbwvlyNgXt7kC1QmGYVheGznZUDAHY7zxst1KU+e+mbT2FTEqVwIZkBBV4bhPteq1gnbmDOwlvEpw7qy4VJGawsobjfX219Ks1iKcNCV2MpKyw4rBhzY/+NgomBu5S2pAUdd7XqMOE4VKkt8bAnM6PhdcQmyBfnm9KlZUoow1yUynUNFxIcSR5X1G/tVf7H49KxN1bEx5DqkpuCGsp0tqTf1ttU7Lq0sVG9M9Tj2NWzgdD2WSYbRl5o6pAIsWk2uoe5AqFwDCoWFSpCoEGYwJSsyw4EhCT0vfWuvtNiT2E4JJmxmeK40AQOQuAVeoAufaoPsf2gmYrMcafdDzIbzZ8oGQ3209/tSy1FsVCOzNVUWPUzqeh7Pobfy09BWVYtfLR0FZV0TmilKUiKUpSJG4ypKWkhbLjqVXBS2Lm3Oq2zh2HtOBSIE+19izt+v21q1TyAUE7AH9KqMbHnlYiStKeA4oIyAG41333rj5NtFZX8o986nRSlrg6GT7pC4WYsukKSDwkgBY9N9xUMnB8Klz2npeGyX3myVNOSmvC2eYGwOg1tyqZnTGIEZcmUvI0i11Wv6VGp7U4OpaUCULqISDlO5rqIXOT7JDfHU7pEtDRW0uJJWgCxKGcySCPSo+Axh2FOrVDwqWyp0C5Q0VAi1+Zt001FduNTXMPwx+U03nU2NjsPU+gquQu1siRicJl1pptp2yFgmxz8wTtztULb6UsCt786l6qbnrZk/X73LJJkpyALiSVpUm5yt3t6EX3rmid1inhxsPfZBV/THyp330rrmzmIXC7wop4isqbJJ19q97y0ZJj5jxMoVaxtbXz2vptXR1ObvEnG/lp6Csqxb+WjoKyr2eRSlKRFKUpE4MUcDSUrUFEJB0SkqJ9hVYZbwdqb3hK5CiPGE8BzKP+tWmf8SNPI1zeLkftU7Ka7CC4zjybWxlzqfZomSYzADco+FwHTIVAgb7D1qLab7PRX0vtRWmXU6pWIygfY2qaWpaG1KS2tZH9KRqa5hNdKcycPm6HYoSD+dUmczRirGGYthS0YigvQiQVJssXsfMCxtVfxDs92TxBSC4l0BpzNlbLmUnQFJFiLf8AtWfvbv8AkJg/2p/evW5Li1oSYkpGbcrQLJ661lkVjkiAxAIB6M0YjHhKgJbkgoYTYIUi+ZFtrEaja1cuHR8LblNmEp0LQgpCDnCfU2Itm139amLK+lX2Nea8lfY0KKTkjuAxAxJdr5aP9IrKsWvlo6Csq1PIpSlIilKUiKUpSIpSlIilKUiKUpSIpSlIilKUif/Z',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAAFBgQHAAEDAgj/xAA4EAABAwMCAwUGBAUFAAAAAAABAgMEAAURBiESMUETIlFhgRQjMkJxkRVSobEHM5LB8CRTYqLR/8QAGgEAAgMBAQAAAAAAAAAAAAAABAUBAgMGAP/EACwRAAICAQMCBQIHAQAAAAAAAAECAAMRBBIhMUEFEyIyUWGBIzNxobHB0RT/2gAMAwEAAhEDEQA/AK1jSjHZY4ctpYPHj8xrjd79cL0+lc6QpaUbITjASKguvocAJURjpW4zCnwSjHCndRJxQYqUHew5gwG0R8/hs2i3TDfbmkCG2gobzyyrbi+2fvQ7Wc6Vcrq+9bC4/DWrjIxhCPIHwohpSK/qpDsFpzsokZscQxsSc4/alq9Sbpb5DltcdQzHaWUgtjOQOtAV5fUtkjcO3wP9hCnK4HSdmZUaJEaVMPA6vJPBg4qRAbd1De23rd7ptnfjXkpTXq3aVdvsVt9JUGUjvOr+b6VYunLRAgafkQ2GkuOnCUq/3FE4A9SQPWrsyZITlun6TZcEcyVp+S3Ht7b0pLbi47rjSnkggLc7RSeLBPPgQn9Mc6OXCBB1DAUwsoSrHdWeaTSTq6HKi6ci2uzzkSHoc3hlcK0hSVFGAMADYbefLPjQORC1IbWG2ZCm1+ROT5Vhq62FysHwBxCg6hdhEF6w0vNsyDJiOhbAVvwnIrmzIh3HSrvtSAZTY7hAxwmoDmoLvFZetdwJc4hjCxmuFvhzI8F555tSWFgqSo9RTIZ28/b6wD6SPbVzVRF+67Rjn8OcUWsNuh3FXtKHOycaV3kj9662C+IslkWlyGHO0SQl1aTt9KAWiUXLqBxlAeVg9OdW92SJ45EdXZcV1QLj3CsDBCdhWUvXmw3GFNLbJWttaQtJHgayhv8AlU85kxXfCgsoJzg74r1GKyrgClBJ5gdaJ2+OhuQp6VDTNawSprtFI9cp3/z7EhN0oFBCYV0grPDlaHkuJB+YYUM4HQjc+AphuBGBK5V+hnG1arl2KE/EtyQguqyXOvLFDmXHrvcW0yXFLKz3lLNS5KtLKW4UG8OEqylR7MbeH7dKlWufZGH20W+yyZkpS+BDcp8q48pIwOzKcd7HQ7ZrMUouWUeo95IXHEs7S8mP+C+wLWG+zSBk7cXTbxqZp+6xES1xAlTjg7MtBlpS+E78RUR3d0qTgev0n6Vs6zb4p1IlmXJZRwpQEgMoSTxBPAO6rh5AkdKeI7qQAhoAJGAAnYfal9FFVLOQ2cwkUsglaxIF1M3UkZi3oXFkhLsaU6Sj3qWkYHLccSACdt85pXuWsxESkFlSHEkpcB+VQ2IPnmr8ByBk0NvOm7JfGii7WqLK2OFLbHGnPPChuPQ1u1CWe+Zvk4ny1ermLvM7VI94Ce8eZqc7qaS9Zvwtbae6MA45U960/g77AHLhpt5xyOnvLjObrbHiD8w/UedLGnNLonOPduoIda2x41a01VKAe3SYMSDkyEzf7cLP7FIhpU6D8RFBY/sj11QNm2+0HDvXS/QHo81xltpRCFYyE0OTAmpUCI7mRuNq0rrQAkHrLFy0vmPZ1zIzLrS0lPAB3t6ykXT2u5MC2ojSELC0HG/WsrEhxJzAUJ1ptkIKSlYHOuT8NEtRUpgnPzJFSrPNtckj25XZ+VWFbZ1gVBIYfY4UJ3zigdRqX05yEJMVuXQ8CVq5pB16GZdvUV8IypB5ijn8L7GgdrdpKPedoWGQR8P5z9d+H70zt6q03AXxKeRtzSkc6nMrjhlh2I32bDnvkJ5bLPFv/VQ9niOp8plZSM9D/Mb+EhrrM2DpG2KrgSlP2omw/v4Uvx3gUo3OPrRFh3HrQFWtbODHl1WYfS7jFdWnSetDkO5AqQ0TzFNKNZuOB0i168Sdx7VWOsLJG09efxtniRBk7OIT8Lbv9kqH2IPiBViBzvYNRNRWli/2OZa5GAiS0UBR+RXyq9Dg+lHblsGGmDJxPne/asjLklMaOhXCfiPWuKdROToxJjJ7hznw8q2xpFZy0+js3kkpWk8wobEehzRy0Wq12hpaLg4lZOcJqX8oLgDJmIyIqN3p94FQhlYBxlCdqyrdslntrsEOR43E2VHBSnasrA3DPFf7yZQ7ae0S6s4wnxqMkqGeEkfQ1sFSQU+NemyUg+dOZSeUoUpYSOZq7mCFWiAsclRWlDpzSDVPpjqSUPoBVjvYq0NGz/xPTraV/wA2KotqHXG5T+hA9DSfxcFq1YdjDNFZhyPmM9okqWlKFE5Ao0wpeB/7Si26uK8haTyOaYIM1tzA4hk/rXKX1sDuWPA25YwsLOBncVPQoAYzQdlzwqc08SMmo0Wo2ekwK1DJjRJVnlg1JBwN6hNO8X2qUhQxTyjUBj1grqZT/wDEaNcIF/luQGeJt5Qc7o3HEBk/1cVBdP6Xk3Kah+5KUW+YQTz+tP2vJiGL/HbWnIciJP8A3UK1ZrtAj/zVpBxTMN2EAfgwzHlQbayiMkABI5VlVJrTU4/HXRDcPZBIGx671lais46TPJiJcVMPSC5DbKGiNkq51DJNe+Psxsa8buKASCT4CjlGBiTJlvLyUqKkqLXn0pu0LIXFuBeJAivjs3gOn5Veh/QmgDF4ZRZzCUzhzO6vGj2jLNKmR1JQr3a0ZJxzBoLU+qtg4xniXRtpBEe5rXMEbjmahx3FMychZAJ6nlipcVbpiJbknL7Q7Nw/mI5H1GD96hvpUHQRnOc1zKqVJRo/Rt6hhHKE+FgY8iRnlRJK8J25HypctTi1Np4j3gMHfrRdDuQPDyNJ7U2vxNbEzCbROdqnMHI36cqDtOFO2anMuFKBjck7Ct9DaVt5gdqRT1tbRcbuHyvhDMZKdvHiUf7iqbu70n251tqQtC2yQDyyKN6v1++/dpv4arDRdKUO8wpKe6CPI4z60lhx+e+VjJWdyTuSa7Sih19bRPdyeJweYkLcKnCpSupNbqcFSRstkkjrisovzG+kx3NBLzS2l8Dmx+tWBofT0aRBekvEFfAcZpDUFPo7Uqyoc6lwr3Mix+wacUE9MVXU12W17UODLkZE9Xthtq6OobUOEHnVgaD1JBg28Nvqw4lOAKrRTMqSVOqSo+JNR8qQTgkH61LU70Ck8iSBiXIvUMR67J4lJaQ6nhO+3PY/541LmJLZ32I51TwuChG7JtB4yMFVOOmtYtOMIg3xZQtACW5StwodAvz/AOX38aVavQP+Ygz8j+4x0WoC+h/tH2zv8RAChnqBy9KPtuDHXNJTRKXESIi0uIO4W2oKCh9RzowxekIT78FHj5Ug1OnZjlRHAYFeYyNLyRvy/ehurbsqDbFR4yv9bJSUtgc0p5FX9h5/Sgdy1vFhtD2JlUl9Xw9EA+Z6+n6UlzpN9RNN3eV2y3N9+WOgA6DyrTReHPvFlnHwD3ivW6pEG1Yr3i1TYmX5TZQFfDlONvKpGj470yeGmjjJ8Klah1PLvDIjSo6GwOvhUzQb0e13ELeWMK5HO1dWWY0kP1ioFSZZMXTcXsR2rKVK8eGsrUq/tKcylacY2wa1QnlL8y/EoAGiNkbSuaAoZGKysptb7DK9406vUIcNpMdCEBTYJwKRTuTmsrKw0g/Dkt1nVlwoCsAeorqO9nPhW6yt2lG6T1HU4y57l1xsnmULKf2o/Jmvt2tC0rJWduJRKj9zWVlD2csMyFY5xA4nyXQCt0nhTgDpRS13GU442048pSeWCa1WV65F2nies9ph12FHkslbrSSodRS7OiNsOEslSSD0NbrKA0zNuxmCqZ4bnSOAZXn61lZWUYUX4kz/2Q==',
 'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAGQAZAMBEQACEQEDEQH/xAAbAAEAAQUBAAAAAAAAAAAAAAAAAwECBAUGB//EADoQAAEDAgMEBggDCQAAAAAAAAEAAgMEEQUhMRJBUZETMlJhcYEGFBUiQmKhwTNy8AckQ2OSk7HR4f/EABsBAQACAwEBAAAAAAAAAAAAAAADBAECBQYH/8QAMhEAAgIBAwICBwgDAQAAAAAAAAECAxEEITEFEkFRBhMUMmGRsSJCcYGhwdHhJPDxI//aAAwDAQACEQMRAD8A9xQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAEAQBAY1ZXU1EGGplDOkdssB+IqO26umPdY8IcmpxbFauOpYKMBtOBd0uzfbJ3aZW+vlnwupdXlUktPv8S1Tp+97ktNjJdYSFpPhZVNP6QSe1mPoSz0eODZwVUcoyNj3rv6fX03cPDKk6pRJ1dIwgCAIAgCAIAgCA0XpRBFM2ne5zekjLrNuL7JtfLxAXnvSKtuiM0+H9S3o+3vwzTx1MlNk03b2SvJ0amyvhnVdMZomLIKwbULhFLw3FWJeov8O2X6EeZ1bS3RYJaikeGygjgdxUGLdO9v6N+2u1bG2osVyDXG/cV29F1uUMRn+v7Mo3aTxRtYqqKQa2PAr0lGvpt8cP4lKVUok4zV0jCAIAUB5X6Z+k1c3FKympMWfTxwyiNnQkNsdkb9+a5r1Fq1Ekt4+H7k1MFKWJGz/ZfjeNYj61FjFZ621riInOY1r2httbAXvffw71ajepTUPNZMWxjF4R6CrBEc1j9O72myfOxjAb3WJ/2vG+kffG+EvDG35P/hf0cU02YwkicA2pia4cbZri16lPacUy64yW8GWS4f8AxKJ5PyOOfkVO6IWLNb/IzHUfdsRZHiDmkw1TL9prhmtFbZX9mayjaVCl9qDJRBTzZ082wey5HXRb7r7X8TXvshtNZJGMrIeqNsfKbrZVamr3N0aOVUudiVtdPHqx7fIhTQ6hqquE18zR0Vy8SZuJ1Hwh58lZXWtZ4Z+RG9LX4lJMSrdm7WuHiAEfV+oY8vkY9nqNDiWK1k7+gdUOz1aHbu+25V563U3R/wDSba/QgnGMXiKPOfTGkkp66GqiiD2PY5o2QS4vOV+RK7HS7vWVuuT4+hmpqDyd96CTDDyGOpxDPMxrntIzzGl+7LkoV1J0X9y3jx+v7kSg7ZOR6Kx4e0OGhXqq5qyCmuGQtYeDGxKl9bpy0ddubT3qj1TQ+2UOC5W6/Elot9XPPgcy9tnFjxZwyIO5fO7Kp1ScZLDR2IvKyikb3wn3TlwWa7JReUZlFS5Mh0tNVtDKhgvuJ1HgV0IauE1ixEPq51vMWQPwu2dNNccHj7rZ6Wue8JG61L4miggr4eqC4fI8FR+y3R91/Jm3rKZcl4mr+xL/AEp/mLzNe2hlduuduePEWWjWqfORilFkkEjx+8Sm3BpzUckob2PJnuj91GFJSRZthjDb6kalaO9yILKsnHY4yUel0MUn4MVO10Y4FxIJ+n0XY0zj7E2uW/oU51tPB3cFMHWmt7wyB/wuUouyLZapXasM66luKeO+uzdfQdBGUdNDPODnWe+yZXDQwcQw6KrG0PclAyePuuZ1DpdOsWXtLz/nzLFOolU/NHNVLX0tQYJwA8C+W8cV4bV6K3S2OE0daucbY90SwhruCp5aJN0A6SPquNuCkjNrhmGovkuFZKNWqRWzXiaOuJd68/gVl32+Zj1MS11ZK7S61ds3zIyq4oj23v6x5KPY3wiRhDRmViK3yatGimiZX4i+ptcWDWniB+jzV/vddfaHBHZ4TCyVkbHaAXI42XT6NRXdJRlxyUdRJw4N8vaHOCAtkJDHFo2nAZC9rlYfAOBdSOnF6t8kkvxPLztA/ZfNtRq7p2uU3v8AE7Wni644I3sqqb8N3TsG55s7mo1KufKwy0pJlrcSYDafaiP8wWHPRHpn93cOKMltQ1wuCCDvCicGuTXtHStWO1jA6Ubk7RgilrIosnvAPZGZ5KSNMpcGUjGfLUVvuMa6OE631cPspUoVb8sPCMuCARgNaFBKWWY+J1GBRGzpDoBYL1fo9p5JO18cHL1klnBuF6cohACgNJjGGue41FKPf+Ng+LvHevOdY6O7366n3vFef9/UvaXUqP2J8HPdML2N7jULx7rcXhnUxndFS2N4sQFjLRrujGfhtOSXNjDSd7cj9FKtRNbZM9zLfZo3Szf3Cs+0PyXyM949mtPXfI7xeSntD8h3ksVFBF1WAWWkrpy5MZbJrtaLALTdhIzMOo3VMgtk0dZ3BdbpvS56qeXtFcsg1GojWvidXBG2KNrIxZrRYL3VVcaoKEFsjjyk5PLJFIahAEBHJogNHilBHUkucyz+23I/9VHVdP0+q3mt/Nck9Wosq44OcqaeopXGwL28QFwL/R62O9ck18i9DXQfvLBiuxDo8nkt/MLLmWdK1UOa39foWFfVLiRVuLR9tvNVnorV91/I37o+ZccVit12c1laG6XEW/yZhzguWG1vSmzNp35QVdp6LqrH7mPx2/silqqo+Js6KmdKQXsdbgV2tN0CqDza8/Bf7/BTs10ntBYOjooyxoAFgNy78IRhHtisIpNuTyzYt0WxgvQBAEBQhARPiDkBjvomO1AQED8LgdrGD5ICE4JSnWFnJBgq3BKUG4hZyQEzMMhbowDyQE8dI1ugCAyGRhqAkAQFUAQBAEAQFLIBZALBALIBZAVQBAEAQBAEAQBAEAQBAEAQBAEAQBAf/9k=',

In [127]:
#cars

#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.com/'
driver.get(url)
time.sleep(4)

#click on image icons
btn=driver.find_element_by_xpath("//a[text()='Images']")
btn.click()
search_box=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

#search items
time.sleep(4)
search_box.clear()
search_box.send_keys('cars')

c_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span")
c_btn.click()
time.sleep(4)

#creating blank list & add items into it.
cars=[]

val=driver.find_elements_by_tag_name("img")

for i1 in val:
    cars.append(i1.get_attribute('src'))
cars=cars[:10]

driver.close()

len(cars)

10

In [132]:
#machine Learning

#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.com/'
driver.get(url)
time.sleep(4)

#click on image icons
btn=driver.find_element_by_xpath("//a[text()='Images']")
btn.click()
search_box=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

#search items
time.sleep(4)
search_box.clear()
search_box.send_keys('machine learning')

c_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span")
c_btn.click()
time.sleep(4)

#creating blank list & add items into it.
machine_Learning=[]

val=driver.find_elements_by_tag_name("img")

for i1 in val:
    machine_Learning.append(i1.get_attribute('src'))
machine_Learning=machine_Learning[:10]

driver.close()

len(machine_Learning)

10

In [133]:
#guitars

#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.com/'
driver.get(url)
time.sleep(4)

#click on image icons
btn=driver.find_element_by_xpath("//a[text()='Images']")
btn.click()
search_box=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

#search items
time.sleep(4)
search_box.clear()
search_box.send_keys('guitars')

c_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span")
c_btn.click()
time.sleep(4)

#creating blank list & add items into it.
guitars=[]

val=driver.find_elements_by_tag_name("img")

for i1 in val:
    guitars.append(i1.get_attribute('src'))
guitars=guitars[:10]

driver.close()

len(guitars)

10

In [134]:
#cakes

#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.com/'
driver.get(url)
time.sleep(4)

#click on image icons
btn=driver.find_element_by_xpath("//a[text()='Images']")
btn.click()
search_box=driver.find_element_by_xpath("//input[@class='gLFyf gsfi']")

#search items
time.sleep(4)
search_box.clear()
search_box.send_keys('cakes')

c_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span")
c_btn.click()
time.sleep(4)

#creating blank list & add items into it.
cakes=[]

val=driver.find_elements_by_tag_name("img")

for i1 in val:
    cakes.append(i1.get_attribute('src'))
cakes=cakes[:10]

driver.close()

len(guitars)

10

4.Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your data in dataframe

In [106]:
#launch browser
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.flipkart.com/'
driver.get(url)
time.sleep(4)


driver.find_element_by_xpath("//input[@title='Search for products, brands and more']").send_keys('pixel 4a')
time.sleep(4)
btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
btn.click()
time.sleep(4)
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

#creating empty lists
Brand=[]
Smartphone_name=[]
Ram=[]
ROM=[]
Primary_camera=[]
Secondary_camera=[]
Display_size=[]
Battery_capacity=[]
Price=[]
URL=[]
time.sleep(8)
Brand=driver.find_element_by_xpath("//div[@class='_4rR01T']").text.split(' ')[0]
Smartphone_name=driver.find_element_by_xpath("//div[@class='_4rR01T']").text
Ram=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[1]").text.split('|')[0]
ROM=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[1]").text.split('|')[1]
Primary_camera=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[3]").text.split('|')[0]
Secondary_camera=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[3]").text.split('|')[1]
Display_size=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[2]").text
Battery_capacity=driver.find_element_by_xpath("//ul[@class='_1xgFaf']/li[4]").text
Price=driver.find_element_by_xpath("//div[@class='_30jeq3 _1_WHN1']").text

urls = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
for i in urls:
    URL.append(i.get_attribute('href'))

URL=URL[0:1]

In [107]:
Mobile_df=pd.DataFrame({'Brand':Brand,
                        'Smartphone_name':Smartphone_name,
                        'Ram':Ram,
                        'ROM':ROM,
                        'Primary_camera':Primary_camera,
                        'Secondary_camera':Secondary_camera,
                        'Display_size':Display_size,
                        'Battery_capacity':Battery_capacity,
                        'Price':Price,
                        'URL':URL
    
})

Mobile_df

,Brand,Smartphone_name,Ram,ROM,Primary_camera,Secondary_camera,Display_size,Battery_capacity,Price,URL
0,Google,"Google Pixel 4a (Just Black, 128 GB)",6 GB RAM,128 GB ROM,12.2MP Rear Camera,8MP Front Camera,14.76 cm (5.81 inch) Full HD+ Display,3140 mAh Battery,"₹28,999",https://www.flipkart.com/google-pixel-4a-just-...

5.Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [4]:
city=str(input("Enter any city name to check latitude,longitude: "))

Enter any city name to check latitude,longitude: Ghazoabad

In [37]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.co.in/maps?hl=en'
driver.get(url)

In [70]:
#input city name
city=str(input("Enter any city name to check latitude,longitude: "))

#driver launch
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://www.google.co.in/maps?hl=en'
driver.get(url)
time.sleep(2)

#finy city name on path
driver.find_element_by_xpath("//input[@class='tactile-searchbox-input']").send_keys(city)

driver.find_element_by_xpath("//button[@class='nhb85d-BIqFsb']").send_keys(Keys.RETURN)
#scrapping url to get langitude/latitude
time.sleep(5)
page_url=driver.current_url

#splitting lat/long from page url

latitude=page_url.split('@')[1].split(',')[0]
longitude=page_url.split('@')[1].split(',')[1]

print('City:',city,'Latitude is:',latitude,'and Longitude is: ',longitude)
driver.close()

Enter any city name to check latitude,longitude: Delhi
City: Delhi Latitude is: 28.6466772 and Longitude is:  76.8130673

6.Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [71]:
#driver launch
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
url='https://trak.in/india-startup-funding-investment-2015/'
driver.get(url)
time.sleep(4)

In [131]:
#fetching data for jan-21
Date=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[2]")
for row in rows:
    Date.append(row.text)

Startup_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[3]")
for row in rows:
    Startup_name.append(row.text)

  
Industry_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[4]")
for row in rows:
    Industry_vertical.append(row.text)
    
    
    
sub_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[5]")
for row in rows:
    sub_vertical.append(row.text)
    
    
City_location=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[6]")
for row in rows:
    City_location.append(row.text)    
    
    
Investors_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[7]")
for row in rows:
    Investors_name.append(row.text)    
    
Investors_type=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[8]")
for row in rows:
    Investors_type.append(row.text)
    

Amount_usd=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-54 dataTable no-footer']/tbody/tr/td[9]")
for row in rows:
    Amount_usd.append(row.text)    
    
    
#Creating Dataframe

Jan_2021=pd.DataFrame({'Date':Date,
                       'Startup_name':Startup_name,
                       'Industry_vertical':Industry_vertical,
                       'sub_vertical':sub_vertical,
                       'City_location':City_location,
                       'Investors_name':Investors_name,
                       'Investors_type':Investors_type,
                       'Amount_usd':Amount_usd,
                       })

Jan_2021

,Date,Startup_name,Industry_vertical,sub_vertical,City_location,Investors_name,Investors_type,Amount_usd
0,15/01/2021,Digit Insurance,Financial Services,Insurance Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds",Venture,"1,80,00,000"
1,28/01/2021,Bombay Shaving Company,Consumer Goods Company,"Shave care, beard care, and skincare products",New Delhi,Reckitt Benckiser,Venture,"6,172,258.50"
2,19/01/2021,DeHaat,AgriTech Startup,online marketplace for farm products and services,Patna,Prosus Ventures,Series C,"30,000,000"
3,19/01/2021,Darwinbox,SaaS,HR Tech,Mumbai,Salesforce Ventures,Seed,"15,000,000"
4,18/01/2021,mfine,Health Tech Startup,AI-powered telemedicine mobile app,Bengaluru,Heritas Capital Management,Venture Round,"16,000,000"
5,18/01/2021,Udayy,EdTech,Online learning platform for kids in class 1-5,Gurgaon,Sequoia Capital,Seed Funding,"15,000,000"
6,11/01/2021,True Elements,Food Startup,Whole Food plant based Nashta,Pune,SIDBI Venture Capital,Series,"100,000,000"
7,13/01/2021,Saveo,B2B E-commerce,Pharmacies,Bengaluru,"Matrix Partners India, RTP Global, others",Seed,"4,000,000"

In [132]:
#fetching data for Feb-21
Date=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[2]")
for row in rows:
    Date.append(row.text)

Startup_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[3]")
for row in rows:
    Startup_name.append(row.text)

  
Industry_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[4]")
for row in rows:
    Industry_vertical.append(row.text)
    
    
    
sub_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[5]")
for row in rows:
    sub_vertical.append(row.text)
    
    
City_location=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[6]")
for row in rows:
    City_location.append(row.text)    
    
    
Investors_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[7]")
for row in rows:
    Investors_name.append(row.text)    
    
Investors_type=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[8]")
for row in rows:
    Investors_type.append(row.text)
    

Amount_usd=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-55 dataTable no-footer']/tbody/tr/td[9]")
for row in rows:
    Amount_usd.append(row.text)    
    
    
#Creating Dataframe

Feb_2021=pd.DataFrame({'Date':Date,
                       'Startup_name':Startup_name,
                       'Industry_vertical':Industry_vertical,
                       'sub_vertical':sub_vertical,
                       'City_location':City_location,
                       'Investors_name':Investors_name,
                       'Investors_type':Investors_type,
                       'Amount_usd':Amount_usd,
                       })

Feb_2021

,Date,Startup_name,Industry_vertical,sub_vertical,City_location,Investors_name,Investors_type,Amount_usd
0,11/02/2021,Doubtnut,Edu Tech,E-Learning Platform,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...",Series B,"2,500,000"
1,22/02/2021,Zomato,Hospitality,Online Food Delivery Platform,Gurgaon,"Tiger Global, Kora",Venture,"250,000,000"
2,19/02/2021,Fingerlix,Hospitality,Semi-cooked food delivery app,Mumbai,"Rhodium Trust, Accel Partners and Swiggy",Series C,"2,747,045.20"
3,17/02/2021,Zolve,FinTech,Global Neobank Venture,Mumbai,Accel Partners and Lightspeed Venture Partners,Seed,"1,50,00,000"
4,15/02/2021,KreditBee,Finance,Digital lending platform,Bengaluru,Azim Premji’s PremjiInvest and South Korea’s M...,Series C,"75,000,000"
5,12/02/2021,Pepperfry,E-commerce,Multi-brand furniture brand,Mumbai,InnoVen Capital,Debt Financing,"4,773,958"
6,12/02/2021,Grofers,E-Commerce,Online supermarket,Gurgaon,SoftBank Vision Fund (SVF),Unspecified,"55,000,000"
7,09/02/2021,Nothing,Technology,Consumer Technology Venture,London,GV,Series A,"15,000,000"
8,09/02/2021,SplashLearn,EdTech,Game-based learning programme,Gurgaon,Owl Ventures,Series C,"18,000,000"

In [133]:
#fetching data for Mar-21
Date=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[2]")
for row in rows:
    Date.append(row.text)

Startup_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[3]")
for row in rows:
    Startup_name.append(row.text)

  
Industry_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[4]")
for row in rows:
    Industry_vertical.append(row.text)
    
    
    
sub_vertical=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[5]")
for row in rows:
    sub_vertical.append(row.text)
    
    
City_location=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[6]")
for row in rows:
    City_location.append(row.text)    
    
    
Investors_name=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[7]")
for row in rows:
    Investors_name.append(row.text)    
    
Investors_type=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[8]")
for row in rows:
    Investors_type.append(row.text)
    

Amount_usd=[]
rows=driver.find_elements_by_xpath("//table[@class='tablepress tablepress-id-56 dataTable no-footer']/tbody/tr/td[9]")
for row in rows:
    Amount_usd.append(row.text)    
    
    
#Creating Dataframe

Mar_2021=pd.DataFrame({'Date':Date,
                       'Startup_name':Startup_name,
                       'Industry_vertical':Industry_vertical,
                       'sub_vertical':sub_vertical,
                       'City_location':City_location,
                       'Investors_name':Investors_name,
                       'Investors_type':Investors_type,
                       'Amount_usd':Amount_usd,
                       })

Mar_2021

,Date,Startup_name,Industry_vertical,sub_vertical,City_location,Investors_name,Investors_type,Amount_usd
0,04/03/2021,DealShare,E-commerce,Online shopping platform,"Jaipur, Rajasthan",Innoven Capital,Debt Financing,"250,000,000"
1,31/03/2021,Uniphore,Technology,Conversational Service Automation (CSA),Palo Alto,Sorenson Capital Partners,Series D,"140,000,000"
2,30/03/2021,Dunzo,E-commerce,Hyper-local delivery app,Bengaluru,Krishtal Advisors Pte Ltd,Series E,"8,000,000"
3,30/03/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series F,"460,000,000"
4,23/03/2021,SkilloVilla,Edu-tech,Career and job-oriented upskilling.,Bengaluru,"Titan Capital, others",Seed,"300,000,000"
5,25/03/2021,CityMall,E-commerce,Social ecommerce and online grocery platform,Gurgaon,Accel Partners,Series A,"11,000,000"
6,26/03/2021,DotPe,FinTech,Commerce and payments platform to offline ente...,Gurgaon,PayU,Series A,"27,500,000"

7.Write a program to scrap all the available details of best gaming laptops from digit.in.

In [42]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')

driver.get('https://www.digit.in/top-products/best-gaming-laptops-40.html')

laptop_name=[]
OS=[]
Display=[]
Processor=[]
Memory=[]
Weight=[]
Dimension=[]
GraphicsProcessor=[]

In [43]:
name=driver.find_elements_by_tag_name("h3")
for i in name:
    laptop_name.append(i.text)
    
    
os=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[3]/td[3]")
for i in os:
    OS.append(i.text)    
 
disp=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[4]/td[3]")
for i in disp:
    Display.append(i.text)
    
pro=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[5]/td[3]")
for i in pro:
    Processor.append(i.text)
    
mem=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[6]/td[3]")
for i in mem:
    Memory.append(i.text)
  
wei=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[7]/td[3]")
for i in wei:
    Weight.append(i.text)
    
    
dim=driver.find_elements_by_xpath("//div[@class='Spcs-details']/table/tbody/tr[8]/td[3]")
for i in dim:
    Dimension.append(i.text)    
    

gaming_laptop_df=pd.DataFrame({'laptop_name':laptop_name,
'OS':OS,
'Display':Display,
'Processor':Processor,
'Memory':Memory,
'Weight':Weight,
'Dimension':Dimension
})

gaming_laptop_df

,laptop_name,OS,Display,Processor,Memory,Weight,Dimension
0,ACER NITRO 5 RYZEN 9 (2021),Windows 10,"15.6"" (1920 x 1080)",AMD Ryzen 9 Octa Core | 2.4 GHz,1 TB HDD/16 GBGB DDR4,2.4,363.4 x 255 x 23.9
1,MSI STEALTH 15M 11TH GEN CORE I7-11375H (2021,Windows 10,"15.6"" (1920 x 1080)",Intel Core i7 11th Gen - 11375H | NA,1 TB SSD/16 GBGB DDR4,1.7,358.3 x 248 x 16.15
2,ASUS ROG STRIX SCAR 15 RYZEN 9-5900HX (2021),Windows 10,"15.6"" (2560 x 1440)",AMD Ryzen 9 Octa Core - 5900HX | 3.3 GHz,2 TB SSD/32 GBGB DDR4,2.30,354 x 259 x 22.6
3,ALIENWARE AREA 51M R2,Windows 10 Home,"17.3"" (1920 x 1080)",10th Gen Intel® Core™ i7-10700 | 2.90 GHz,1 TB SSD/16 GBGB DDR4,4.1,27.65 x 402.6 x 319.14
4,ALIENWARE M15 R3,Windows 10 Home,"15.6"" (3840 x 2160)",10th Gen Intel® Core™ i9-10980HK | NA,1 TB SSD/16 GBGB DDR4,NA,NA
5,ASUS ROG STRIX SCAR 15,Windows 10 Home,"15.6"" (1920 x 1080)",AMD Ryzen™ 9 5900HX | 3.3 GHz,1 TB SSD/16 GBGB DDR4,2.30,35.4 x 25.9 x 2.26
6,ASUS ROG ZEPHYRUS G14,Windows 10 Home,"14"" (1920 x 1080)",AMD 3rd Gen Ryzen 9 | 3.3 GHz,1 TB SSD/16 GBGB DDR4,1.65,32.5 x 22.1 x 1.8
7,LENOVO LEGION 5I,Windows 10 Pro,"15.6"" (1920 x 1080)",10th Gen Intel® Core™ i5-10300H | 2.50 GHz,1 TB SSD/16 GBGB DDR4,2.3,363.06 x 259.61 x 23.57
8,ASUS ROG ZEPHYRUS DUO 15,Windows 10,"15.6"" (3840 x 1100)",Intel Core i7 10th Gen 10875H | NA,512 GB SSD/4 GBGB DDR4,2.4,268.30 x 360.00 x 20.90
9,ACER ASPIRE 7 GAMING,Windows 10 Home,"15.6"" (1920 x 1080)",AMD Ryzen™ 5-5500U hexa-core | NA,512 GB SSD/8 GBGB DDR4,2.15,2.29 x 36.3 x 25.4

8.Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [75]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')

driver.get('https://www.forbes.com/billionaires/')

time.sleep(8)
Rank=[]
Name=[]
Net_worth=[]
Age=[]
Citizenship=[]
Source=[]
Industry=[]


rk=driver.find_elements_by_xpath("//div[@class='rank']")
for i in rk:
    Rank.append(i.text)
    
 
nm=driver.find_elements_by_xpath("//div[@class='personName']")
for i in nm:
    Name.append(i.text)
    
net=driver.find_elements_by_xpath("//div[@class='netWorth']")
for i in net:
    Net_worth.append(i.text)
    
    
ag=driver.find_elements_by_xpath("//div[@class='age']")
for i in ag:
    Age.append(i.text)
    
cntry=driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
for i in cntry:
    Citizenship.append(i.text)
    
srce=driver.find_elements_by_xpath("//div[@class='source-column']")
for i in srce:
    Source.append(i.text)
    
    
indus=driver.find_elements_by_xpath("//div[@class='category']")
for i in indus:
    Industry.append(i.text)
    
print(len(Rank),len(Name),len(Net_worth),len(Age),len(Citizenship),len(Source),len(Industry))  



billionaires=pd.DataFrame({'Rank':Rank,
'Name':Name,
'Net_worth':Net_worth,
'Age':Age,
'Citizenship':Citizenship,
'Source':Source,
'Industry':Industry
})                          
                           
billionaires

200 200 200 200 200 200 200

,Rank,Name,Net_worth,Age,Citizenship,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

9.Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [ ]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')

driver.get('https://www.youtube.com/watch?v=csP2Qr3f_bg')

time.sleep(10)

Comment=[]
posted_time=[]

In [42]:
cmt=driver.find_elements_by_id("content-text")

for i in cmt:
    Comment.append(i.text)

time=driver.find_elements_by_xpath("//a[@class='yt-simple-endpoint style-scope yt-formatted-string']")
for i in time:
    posted_time.append(i.text)

In [49]:
posted_time=posted_time[2:45:2]

In [50]:
cmt_df=pd.DataFrame({'Comment':Comment,
                     'posted_time':posted_time
                     
                    })

In [51]:
cmt_df

                                              Comment   posted_time
0                            I enjoy these so much 😍😍  2 months ago
1   "Yesterday is a history "\n"Tomorrow is a myst...   10 days ago
2                                        Beautiful 🔥🔥   1 month ago
3                                                Nice    3 days ago
4   "Yesterday is a history " \n"Tomorrow is a mys...    6 days ago
5                                                 Wow    3 days ago
6   Please someone call triggered insaan to roast ...    2 days ago
7                                           Beautiful   2 weeks ago
8                                       Beautiful❤️❤️    5 days ago
9                                           Very nice    4 days ago
10  "Yesterday is a history "\n"Tomorrow is a myst...   10 days ago
11                                               Haha   10 days ago
12                                             Nice😉😘  2 months ago
13                               Beautiful and nice💞💖   2 weeks ago
14                                             😍😍😍🤩🙈🖤  2 months ago
15                                       I love  🍮🍮🍮🍮    3 days ago
16                            💖Lily is so beautiful 💖   1 month ago
17                                                Wow     1 day ago
18                                               Nice   1 month ago
19                                               💕 🌹🌹   1 month ago