## WEB SCRAPING – ASSIGNMENT 4

### Importing liberary

In [2]:
import pandas as pd
import numpy as np
import time
import selenium

from selenium import webdriver

from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')

1.Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
Url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

In [51]:
#creating blank list for each feature
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views_billions=[]

#fetching values one by one

row1=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in row1:
    try:
        Rank.append(i.text)
    except:
        Rank.append('-')
        
row2=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in row2:
    try:
        Name.append(i.text)
    except:
        Name.append('-')
        
        
        
row3=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in row3:
    try:
        Artist.append(i.text)
    except:
        Artist.append('-')        
        
        
        
row5=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in row5:
    try:
        Upload_date.append(i.text)
    except:
        Upload_date.append('-') 
        
        
row4=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in row4:
    try:
         Views_billions.append(i.text)
    except:
         Views_billions.append('-')

In [56]:
#slicing data for table 1 only
Rank=Rank[0:30]
Name=Name[0:30]
Artist=Artist[0:30]
Upload_date=Upload_date[0:30]
Views_billions=Views_billions[0:30]


#creating df

most_views_video=pd.DataFrame({'Rank':Rank,
'Name':Name,
'Artist':Artist,
'Upload_date':Upload_date,
'Views_billions':Views_billions
    
})


most_views_video

,Rank,Name,Artist,Upload_date,Views_billions
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.95
1,2.,"""Despacito""[5]",Luis Fonsi,"January 12, 2017",7.69
2,3.,"""Johny Johny Yes Papa""[11]",LooLoo Kids,"October 8, 2016",6.08
3,4.,"""Shape of You""[12]",Ed Sheeran,"January 30, 2017",5.58
4,5.,"""See You Again""[14]",Wiz Khalifa,"April 6, 2015",5.38
5,6.,"""Bath Song""[19]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.82
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[20]",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""[21]",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.42
9,10.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.39
10,11.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.30
11,12.,"""Dame Tu Cosita""[29]",El Chombo,"April 5, 2018",3.79
12,13.,"""Sugar""[30]",Maroon 5,"January 14, 2015",3.62
13,14.,"""Sorry""[31]",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""[32]",Katy Perry,"September 5, 2013",3.50
15,16.,"""Counting Stars""[33]",OneRepublic,"May 31, 2013",3.48
16,17.,"""Wheels on the Bus""[34]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.46
17,18.,"""Thinking Out Loud""[35]",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""[36]",Maroon 5,"May 31, 2018",3.21
19,20.,"""Faded""[37]",Alan Walker,"December 3, 2015",3.21
20,21.,"""Dark Horse""[38]",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.16
22,23.,"""Bailando""[40]",Enrique Iglesias,"April 11, 2014",3.15
23,24.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.15
24,25.,"""Lean On""[42]",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""[43]",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.06
27,28.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.04
28,29.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.02
29,30.,"""Mi Gente""[47]",J Balvin,"June 29, 2017",3.02

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [167]:
#launching website & click on fixture link
Url = 'https://www.bcci.tv/'
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

link=driver.find_element_by_xpath("//li[@class='nav-item ml-0']")

link.click()

In [170]:
#clicking on more matches button until see all 
try:
    for i in range(5):
        more=driver.find_element_by_xpath("//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
        more.click()
        time.sleep(1)
        
    i+=1
except:
    pass

In [186]:
#create blank list
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#fetching data one by one
title=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
for i in title:
    Match_title.append(i.text.split('-')[0])
    

ser=driver.find_elements_by_xpath("//span[@class='ng-binding']")
for i in ser:
    Series.append(i.text)    
    
    
plc=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
for i in plc:
    Place.append(i.text.split('-')[1])
    

dat=driver.find_elements_by_xpath("//div[@class='match-card-left match-schedule']/h5")
for i in dat:
    Date.append(i.text)

tim=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in tim:
    Time.append(i.text)
    
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

20 20 20 20 20

In [180]:
#creating dataframe
fixtures_cricket=pd.DataFrame({
'Match_title':Match_title,
'Series':Series,
'Place':Place,
'Date':Date,
'Time':Time
})

fixtures_cricket

driver.close()

,Match_title,Series,Place,Date,Time
0,"3rd Test - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"3rd Test - Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,"1st ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"1st ODI - Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,"2nd ODI - Boland Park, Paarl",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"2nd ODI - Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,"3rd ODI - Newlands, Cape Town",INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"3rd ODI - Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"1st ODI - NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,"2nd ODI - Sawai Mansingh Stadium, Jaipur",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"2nd ODI - Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,"3rd ODI - Eden Gardens, Kolkata",WEST INDIES TOUR OF INDIA ODI SERIES 2022,"3rd ODI - Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,"1st T20 - Barabati Stadium, Cuttack",WEST INDIES TOUR OF INDIA T20 SERIES 2022,"1st T20 - Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,2nd T20 - Dr YS Rajasekhara Reddy ACA-VDCA Cri...,WEST INDIES TOUR OF INDIA T20 SERIES 2022,2nd T20 - Dr YS Rajasekhara Reddy ACA-VDCA Cri...,18 FEB 2022,7:30 PM IST
9,"3rd T20 - Greenfield International Stadium, Th...",WEST INDIES TOUR OF INDIA T20 SERIES 2022,"3rd T20 - Greenfield International Stadium, Th...",20 FEB 2022,7:30 PM IST
10,"1st Test - M Chinnaswamy Stadium, Bengaluru",SRI LANKA TOUR OF INDIA TEST SERIES 2022,"1st Test - M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,2nd Test - Punjab Cricket Association IS Bindr...,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Test - Punjab Cricket Association IS Bindr...,5 MAR 2022,9:30 AM IST
12,1st T20 - Punjab Cricket Association IS Bindra...,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20 - Punjab Cricket Association IS Bindra...,13 MAR 2022,7:30 PM IST
13,2nd T20 - Himachal Pradesh Cricket Association...,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20 - Himachal Pradesh Cricket Association...,15 MAR 2022,7:30 PM IST
14,3rd T20 - Bharat Ratna Shri Atal Bihari Vajpay...,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20 - Bharat Ratna Shri Atal Bihari Vajpay...,18 MAR 2022,7:30 PM IST
15,"1st T20 - MA Chidambaram Stadium, Chennai",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20 - MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,"2nd T20 - M Chinnaswamy Stadium, Bengaluru",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20 - M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,3rd T20 - Vidarbha Cricket Association Stadium...,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20 - Vidarbha Cricket Association Stadium...,14 JUN 2022,7:30 PM IST
18,4th T20 - Saurashtra Cricket Association Stadi...,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20 - Saurashtra Cricket Association Stadi...,17 JUN 2022,7:30 PM IST
19,"5th T20 - Arun Jaitley Stadium, Delhi",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20 - Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [211]:
#launching website & click on exception link
Url = 'https://www.guru99.com/'
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

#click on selenium link
link=driver.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5")

link.click()

time.sleep(8)

#click on exception link
excepetion_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")

excepetion_link.click()

time.sleep(8)

#blank lists
exception_name=[]
description=[]

#fetching data one by one
nam=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in nam:
    exception_name.append(i.text)
    
    
nam2=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in nam2:
    description.append(i.text) 
    

#creating data frame    
exceptions=pd.DataFrame({'exception_name':exception_name,
                    'description':description
    
})

exceptions

driver.close()

,exception_name,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [ ]:
4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
Url = 'http://statisticstimes.com/'
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)

time.sleep(7)
dp=driver.find_value_by_xpath("//button[@class='dropbtn']")
# dp.click()

In [12]:
dp=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
dp.click()
time.sleep(2)

ind=driver.find_element_by_xpath("//a[@href='economy/india-statistics.php']")
ind.click()
time.sleep(4)

In [13]:
sta=driver.find_element_by_xpath("//a[@href='india/indian-states-gdp.php']")
sta.click()

In [48]:
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP_billion=[]



ranks=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]")
try:
    for i in ranks:
        Rank.append(i.text)
except:
    Rank.append('-')
    

states=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]")
try:
    for i in states:
        State.append(i.text)
except:
    State.append('-')

    
gsdp1=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]")
try:
    for i in gsdp1:
        GSDP_19_20.append(i.text)
except:
    GSDP_19_20.append('-')
    
    
gsdp2=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]")
try:
    for i in gsdp2:
        GSDP_18_19.append(i.text)
except:
    GSDP_18_19.append('-')    
    

shares=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]")
try:
    for i in shares:
        Share.append(i.text)
except:
    Share.append('-')
    
gdp=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]")
try:
    for i in gdp:
        GDP_billion.append(i.text)
except:
    GDP_billion.append('-')
    
    
print(len(Rank),len(State),len(GSDP_19_20),len(GSDP_18_19),len(Share),len(GDP_billion))  

driver.close()

33 33 33 33 33 33

In [51]:
GDP_data=pd.DataFrame({
'Rank':Rank,
'State':State,
'GSDP_19_20':GSDP_19_20,
'GSDP_18_19':GSDP_18_19,
'Share':Share,
'GDP_billion':GDP_billion})

GDP_data

   Rank                      State GSDP_19_20 GSDP_18_19   Share GDP_billion
0     1                Maharashtra          -  2,632,792  13.94%     399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%     247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%     240.726
3     4                    Gujarat          -  1,502,899   7.96%     228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%     226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%     165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%     143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%     131.083
8     9                  Telangana    969,604    861,031   4.56%     130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%     122.977
10   11                     Kerala          -    781,653   4.14%     118.733
11   12                      Delhi    856,112    774,870   4.10%     117.703
12   13                    Haryana    831,610    734,163   3.89%     111.519
13   14                      Bihar    611,804    530,363   2.81%      80.562
14   15                     Punjab    574,760    526,376   2.79%      79.957
15   16                     Odisha    521,275    487,805   2.58%      74.098
16   17                      Assam          -    315,881   1.67%      47.982
17   18               Chhattisgarh    329,180    304,063   1.61%      46.187
18   19                  Jharkhand    328,598    297,204   1.57%      45.145
19   20                Uttarakhand          -    245,895   1.30%      37.351
20   21            Jammu & Kashmir          -    155,956   0.83%      23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%      23.369
22   23                        Goa     80,449     73,170   0.39%      11.115
23   24                    Tripura     55,984     49,845   0.26%       7.571
24   25                 Chandigarh          -     42,114   0.22%       6.397
25   26                 Puducherry     38,253     34,433   0.18%       5.230
26   27                  Meghalaya     36,572     33,481   0.18%       5.086
27   28                     Sikkim     32,496     28,723   0.15%       4.363
28   29                    Manipur     31,790     27,870   0.15%       4.233
29   30                   Nagaland          -     27,283   0.14%       4.144
30   31          Arunachal Pradesh          -     24,603   0.13%       3.737
31   32                    Mizoram     26,503     22,287   0.12%       3.385
32   33  Andaman & Nicobar Islands          -          -       -           -

5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [ ]:
Url = 'https://github.com/ '
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(4)

lnk=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
lnk.click()
time.sleep(4)

trend=driver.find_element_by_xpath("//a[@href='/trending']")
trend.click()

In [64]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_Used=[]


title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

for i in title:
    Repository_title.append(i.text)

#github site stuck so fetch 1 element.

In [65]:
Repository_title

['Asabeneh / 30-Days-Of-JavaScript',
 'Igglybuff / awesome-piracy',
 '521xueweihan / HelloGitHub',
 'megadose / holehe',
 'alibaba / xquic',
 'TheAlgorithms / Python',
 'freeCodeCamp / freeCodeCamp',
 'VGVentures / slide_puzzle',
 'iluwatar / java-design-patterns',
 'withshepherd / faker.js',
 'lynn / hello-wordl',
 'TheAlgorithms / Java',
 'sunym1993 / flash-linux0.11-talk',
 'ibraheemdev / modern-unix',
 'faridrashidi / kaggle-solutions',
 'solo-io / bumblebee',
 'MichMich / MagicMirror',
 'LaravelDaily / laravel-tips',
 'BookStackApp / BookStack',
 'akullpp / awesome-java',
 'microsoft / PowerToys',
 'kdn251 / interviews',
 'ascoders / weekly',
 'facebookresearch / mae',
 'JumpCrypto / crypto-reading-list']

6.Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [6]:
Url = 'https:/www.billboard.com/'
    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(10)

lnk=driver.find_element_by_xpath("//a[@href='/charts/hot-100']")
lnk.click()
time.sleep(4)

In [58]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

#adding title song
songs=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in songs:
        Song_name.append(i.text)
#adding rest of the song

songs=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in songs:
        Song_name.append(i.text)
        
        
        
#adding header artist
artist=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in artist:
        Artist_name.append(i.text)
 #adding rest of the artists       
        
artist=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artist:
        Artist_name.append(i.text)  
        
        
#adding Last week rank
lrank=driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']/span")

for i in lrank:
    Last_week_rank.append(i.text)
Last_week_rank=Last_week_rank[0:201:2]         
        
#Peak Rank
        
Peak_rank=[]
prank=driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']/span")
for i in prank:
    Peak_rank.append(i.text) 
    
    
#adding Weeks_on_board
boards=driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']/span")

for i in boards:
    Weeks_on_board.append(i.text)
Weeks_on_board=Weeks_on_board[1:201:2]
    
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

#creating dataframe

song_list=pd.DataFrame({'Song_name':Song_name,
                        'Artist_name':Artist_name,
                        'Last_week_rank':Last_week_rank,
                        'Peak_rank':Peak_rank,
                        'Weeks_on_board':Weeks_on_board
                        })

song_list

100 100 100 100 100

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Easy On Me,Adele,2,1,13
1,Stay,The Kid LAROI & Justin Bieber,6,1,26
2,Heat Waves,Glass Animals,7,3,51
3,Shivers,Ed Sheeran,9,4,17
4,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",50,5,2
...,...,...,...,...,...
95,Me Or Sum,"Nardo Wick, Lil Baby & Future",-,86,2
96,I Love You So,The Walters,-,97,1
97,Bad Man (Smooth Criminal),Polo G,-,49,6
98,Never Wanted To Be That Girl,Carly Pearce & Ashley McBryde,-,99,1
99,Just About Over You,Priscilla Block,-,81,7

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [67]:
Url = 'https://www.naukri.com/naukri-dot-com-recruiters'
#couldn't find recruites tab on home page adding recruiters url    
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

inputb=driver.find_element_by_xpath("//input[@class='sugInp']")
inputb.clear()
inputb.send_keys('Data science')
time.sleep(4)

driver.find_element_by_id('qsbFormBtn').click()

In [105]:
#adding blank lists
Name=[]
Designation=[]
Company=[]
Skills_hire_for=[]
Location=[]

#fetching data one by one
nam=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
try:
    for i in nam:
        Name.append(i.text)
except:
    Name.append('-')
    
des=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
try:
    for i in des:
        Designation.append(i.text)
except:
    Designation.append('-')
    


com=driver.find_elements_by_xpath("//a[2][@class='ellipsis']")
try:
    for i in com:
        Company.append(i.text)
except:
    Company.append('-')    
    


skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
try:
    for i in skills:
        Skills_hire_for.append(i.text)
except:
    Skills_hire_for.append('-')
    
    
#    
Location=[]
loc=driver.find_elements_by_xpath("//small[@class='ellipsis']")
try:
    for i in loc:
         Location.append(i.text)
except:
    Location.append('-')

In [106]:
recruiters=pd.DataFrame({'Name':Name,
                         'Designation':Designation,
                         'Company':Company,
                         'Skills_hire_for':Skills_hire_for
                         })    

recruiters

driver.close()

,Name,Designation,Company,Skills_hire_for
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [107]:
Url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'   
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

In [118]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

nam=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in nam:
        Book_name.append(i.text)
        
        
auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in auth:
        Author_name.append(i.text)        
        
        
vol=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vol:
        Volumes_sold.append(i.text)        
        
pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub:
        Publisher.append(i.text)         
        
        
gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen:
        Genre.append(i.text)
        
book_details=pd.DataFrame({'Book_name':Book_name,
'Author_name':Author_name,
'Volumes_sold':Volumes_sold,
'Publisher':Publisher,
'Genre':Genre
    }) 

book_details 

driver.close()

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [119]:
#Launching url
Url = 'https://www.imdb.com/list/ls095964455/'   
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

In [157]:
#blank lists
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#fetching data one by one
nam=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

for i in nam:
    Name.append(i.text)
    
yr=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

for i in yr:
    Year_span.append(i.text)
    
gen=driver.find_elements_by_xpath("//span[@class='genre']")

for i in gen:
    Genre.append(i.text)
    
run=driver.find_elements_by_xpath("//span[@class='runtime']")

for i in run:
    Run_time.append(i.text)
    
    
rat=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rat:
    Ratings.append(i.text)
    

vot=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")

for i in vot:
    Votes.append(i.text)
Votes=Votes[1:201:2]    

movies_list=pd.DataFrame({'Name':Name,
'Year_span':Year_span,
'Genre':Genre,
'Run_time':Run_time,
'Ratings':Ratings,
'Votes':Votes
             })


movies_list

driver.close()

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,930,901"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"951,671"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"922,287"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"276,348"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,594"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,189"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,981"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"183,063"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,343"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"218,058"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [158]:
#Launching url
Url = 'https://archive.ics.uci.edu/'   
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(Url)
time.sleep(5)

lnk=driver.find_element_by_xpath("//a[@href='datasets.php']")
lnk.click()
time.sleep(5)

In [209]:
#blank lists
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#fetching data one by one
data=driver.find_elements_by_xpath("//p[@class='normal']/b")
for i in data:
    Dataset_name.append(i.text)
    
    
ty=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in ty:
    Data_type.append(i.text)
Data_type=Data_type[1:623] 

ts=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in ts:
    Task.append(i.text)
Task=Task[1:623] 

att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in att:
    Attribute_type.append(i.text)
Attribute_type=Attribute_type[1:623] 


ins=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in ins:
    No_of_instances.append(i.text)
No_of_instances=No_of_instances[1:623]

att=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in att:
    No_of_attribute.append(i.text)
No_of_attribute=No_of_attribute[1:623] 

yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in yr:
    Year.append(i.text)
Year=Year[1:623] 

#creating dataframe
data_sets=pd.DataFrame({
    'Dataset_name':Dataset_name,
'Data_type':Data_type,
'Task':Task,
'Attribute_type':Attribute_type,
'No_of_instances':No_of_instances,
'No_of_attribute':No_of_attribute,
'Year':Year
    
})

    
data_sets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021