# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
import pandas as pd
import selenium
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

In [4]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')

In [ ]:
driver.get('https://www.naukri.com/')

In [ ]:
#adding required field
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc.send_keys('Bangalore')

In [ ]:
btn=driver.find_element_by_xpath("//div[@class='search-btn']")
btn.click()

Creating blank lists

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

Fetching data columns one by one

In [ ]:
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title:
    job_title.append(i.text)
    
job_title=job_title[0:10]

In [ ]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc:
    job_location.append(i.text)
    
job_location=job_location[0:10]

In [ ]:
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name:
    company_name.append(i.text)
    
company_name=company_name[0:10]

In [ ]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exp:
    experience_required.append(i.text)
    
experience_required=experience_required[0:10]

In [ ]:
#checking len of all fields:

print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
#creating dataframe

Job_data=pd.DataFrame({'job_title':job_title,
                       'job_location':job_location,
                       'company_name':company_name,
                       'experience_required':experience_required
                       })
Job_data

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/ 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [ ]:
#lauching chrome & adding require fields:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.naukri.com/')

search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
loc.send_keys('Bangalore')

btn=driver.find_element_by_xpath("//div[@class='search-btn']")
btn.click()

Creating blank lists:

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title:
    job_title.append(i.text)
    
job_title=job_title[0:10]

loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc:
    job_location.append(i.text)
    
job_location=job_location[0:10]

name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name:
    company_name.append(i.text)
    
company_name=company_name[0:10]

exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exp:
    experience_required.append(i.text)
    
experience_required=experience_required[0:10]

In [ ]:
#checking len of all fields:

print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
#creating dataframe

Job_Scidata=pd.DataFrame({'job_title':job_title,
                       'job_location':job_location,
                       'company_name':company_name,
                       'experience_required':experience_required
                       })
Job_Scidata

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs 

The task will be done as shown in the below steps: 
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [20]:
#lauching chrome & adding require fields:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.naukri.com/')

In [21]:
#Adding job keyword
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [22]:
#press search button
btn=driver.find_element_by_xpath("//div[@class='search-btn']")
btn.click()

In [32]:
#filter by location
loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
loc.click()

In [33]:
#filter by salary 
sal=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
sal.click()

In [34]:
#create blank list
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [35]:
#fetching data

title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title:
    job_title.append(i.text)
    
job_title=job_title[0:10]

loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc:
    job_location.append(i.text)
    
job_location=job_location[0:10]

name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name:
    company_name.append(i.text)
    
company_name=company_name[0:10]

exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for i in exp:
    experience_required.append(i.text)
    
experience_required=experience_required[0:10]

In [36]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [37]:
#creating dataframe

Job_Scidata2=pd.DataFrame({'job_title':job_title,
                       'job_location':job_location,
                       'company_name':company_name,
                       'experience_required':experience_required
                       })
Job_Scidata2

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
1,Hiring For Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Tata Consultancy Services Ltd.,4-9 Yrs
2,Project Manager | Team Leader | Senior Data Sc...,Remote,Tidyquant (OPC) Private Limited,1-5 Yrs
3,Data Scientist,"Noida, Nodia\n(WFH during Covid)",Navikenz India Pvt Ltd,2-7 Yrs
4,"NTT DATA_ Hiring For BIG DATA ,DATA Scientist,...","Noida, Kolkata, Hyderabad/Secunderabad, Ahmeda...",NTT Data Business Solutions Pvt Ltd,3-8 Yrs
5,Hiring For Data Analyst / Data Scientist,Noida(Sector-59 Noida),Careerera,1-3 Yrs
6,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
7,Data Scientist,Gurgaon/Gurugram,Whizhack Technologies pvt ltd,2-5 Yrs
8,Data Scientist,Gurgaon/Gurugram,One Mobikwik Systems Private Limited,2-5 Yrs
9,Data Scientist/ Senior Data Scientist,Noida,Newgen Software Technologies,2-5 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 

1. Brand 
2. Product Description 
3. Price 
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps: 
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual. 

4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then 
click on it. 
5. Now scrape data from this page as usual 
6. Repeat this until you get data for 100 sunglasses.

In [42]:
#lauching chrome & adding site:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.flipkart.com/')

In [46]:
#filter data
search=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search.send_keys('sunglasses')

In [47]:
#press search button
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [76]:
Brand=[]
Product_Description=[]
Price=[]

In [52]:
bname=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in bname:
    Brand.append(i.text)
    
Brand=Brand[0:100]

In [78]:
pro=driver.find_elements_by_xpath("//a[@class='IRpwTa']/title")
for i in bname:
    Product_Description.append(i.text)
    
Product_Description=Product_Description[0:100]

Product_Description

['ROZZETTA CRAFT',
 'Ar creation',
 'SRPM',
 'PIRASO',
 'Elligator',
 'New Specs',
 'PIRASO',
 'Ar creation',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'Myreen',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'PHENOMENAL',
 'ROYAL SON',
 'kingsunglasses',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'New Specs',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Ar creation',
 'SRPM',
 'PIRASO',
 'Elligator',
 'New Specs',
 'PIRASO',
 'Ar creation',
 'kingsunglasses',
 'Fastrack',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'Myreen',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'PHENOMENAL',
 'ROYAL SON',
 'kingsunglasses',
 'PIRASO',
 'Rich Club',
 'ROYAL SON',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'New Specs',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON']

In [ ]:
pr=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pr:
    Price.append(i.text)
    
Price=Price[0:100]

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage . 

As shown in the above page you have to scrape the tick marked attributes. These are: 
1. Rating 
2. Review_summary 
3. Full review 
You have to scrape this data for first 100 reviews.

In [80]:
#lauching chrome & adding site:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(r'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [84]:
all=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

all.click()

In [ ]:
rating=[]
Review_summary=[]
Full_review =[]

#fetching data for first 10 pages.
for page in range(1,11,1):
    driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
    pg_url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page='+str(page)
    #print(pg_url)
    driver.get(pg_url)
    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq' or @class='_3LWZlK _1rdVr6 _1BLPMq']" )
    for i in rat:
        rating.append(i.text)
        
    rev=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in rev:
        Review_summary.append(i.text)    
        
   
    f=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in f:
        Full_review.append(i.text.replace("\n","")) 
        
#Checking len as it must be same for all variable.        
print(len(rating),len(Review_summary),len(Full_review))

In [134]:
#Create dataframe

All_reviews=pd.DataFrame({'rating':rating,
                          'Review_summary':Review_summary,
                          'Full_review':Full_review
                          
                        })

All_reviews.head()

driver.close()

,rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field. 
You have to scrape 4 attributes of each sneaker: 
1. Brand 
2. Product Description 
3. Price 
As shown in the below image, you have to scrape the tick marked attributes

In [136]:
#lauching chrome & adding site:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get("https://www.flipkart.com/")

In [137]:
#filter data
search=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search.send_keys('sneakers')

In [138]:
#press search button
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [ ]:
#creating blank lists:
Brand=[]
Product_discription=[]
Price=[]

#fetching data for first 3 pages:
for page in range(1,4,1):
    url='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(page)
    #print(url)
    driver.get(url)
    
    br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in br:
        Brand.append(i.text)


    pr=driver.find_elements_by_xpath("//a[@class='IRpwTa'or @class='IRpwTa _2-ICcC']")
    for i in pr:
        Product_discription.append(i.text)


    pri=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri:
        Price.append(i.text)
        
     
print(len(Brand),len(Product_discription),len(Price))

In [169]:
Brand=Brand[0:100]
Product_discription=Product_discription[0:100]
Price=Price[0:100]

Sneakers=pd.DataFrame({'Brand':Brand,
                       'Product_discription':Product_discription,
                       'Price':Price
                       
})

Sneakers

driver.close()

                Brand                                Product_discription Price
0               BIRDE                                   Sneakers For Men  ₹535
1           India hub  Fashionable casual sneakers shoes Sneakers For...  ₹449
2               BIRDE              Sports Running Shoes Sneakers For Men  ₹299
3            URBANBOX                          Sneakers Sneakers For Men  ₹220
4              Chevit  Super Stylish & Trendy Combo Pack of 02 Pairs ...  ₹536
..                ...                                                ...   ...
95          India hub                                   Sneakers For Men  ₹499
96  STRANGER BROTHERS                                   Sneakers For Men  ₹469
97              Feens  Stylish & Comfortable Casual Sports Walking Sn...  ₹265
98              BIRDE                                   Sneakers For Men  ₹535
99           CALCADOS  Modern Trendy Shoes Combo pack of 4 Sneakers F...  ₹899

[100 rows x 3 columns]

Q7: Go to the link - https://www.myntra.com/shoes 
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [171]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.myntra.com/shoes')

In [198]:
#filters



color=driver.find_element_by_xpath("//ul[@class='price-list']/label/input")

color.click()


# sal=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
# sal.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class='price-list']/label/input"}
  (Session info: chrome=96.0.4664.110)
Stacktrace:
Backtrace:
	Ordinal0 [0x00A76903+2517251]
	Ordinal0 [0x00A0F8E1+2095329]
	Ordinal0 [0x00912848+1058888]
	Ordinal0 [0x0093D448+1233992]
	Ordinal0 [0x0093D63B+1234491]
	Ordinal0 [0x00967812+1406994]
	Ordinal0 [0x0095650A+1336586]
	Ordinal0 [0x00965BBF+1399743]
	Ordinal0 [0x0095639B+1336219]
	Ordinal0 [0x009327A7+1189799]
	Ordinal0 [0x00933609+1193481]
	GetHandleVerifier [0x00C05904+1577972]
	GetHandleVerifier [0x00CB0B97+2279047]
	GetHandleVerifier [0x00B06D09+534521]
	GetHandleVerifier [0x00B05DB9+530601]
	Ordinal0 [0x00A14FF9+2117625]
	Ordinal0 [0x00A198A8+2136232]
	Ordinal0 [0x00A199E2+2136546]
	Ordinal0 [0x00A23541+2176321]
	BaseThreadInitThunk [0x762DFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77C37A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77C37A6E+238]

In [194]:
pr=driver.find_element_by_xpath("//div[@class='common-checkboxIndicator'][1]")

pr.click()

ElementClickInterceptedException: Message: element click intercepted: Element <div class="common-checkboxIndicator"></div> is not clickable at point (33, 8). Other element would receive the click: <div class="desktop-logoContainer" data-reactid="15">...</div>
  (Session info: chrome=96.0.4664.110)
Stacktrace:
Backtrace:
	Ordinal0 [0x00A76903+2517251]
	Ordinal0 [0x00A0F8E1+2095329]
	Ordinal0 [0x00912848+1058888]
	Ordinal0 [0x00943509+1258761]
	Ordinal0 [0x00941868+1251432]
	Ordinal0 [0x0093F65D+1242717]
	Ordinal0 [0x0093E4A8+1238184]
	Ordinal0 [0x00934037+1196087]
	Ordinal0 [0x009564D3+1336531]
	Ordinal0 [0x00933A36+1194550]
	Ordinal0 [0x009565BA+1336762]
	Ordinal0 [0x00965BBF+1399743]
	Ordinal0 [0x0095639B+1336219]
	Ordinal0 [0x009327A7+1189799]
	Ordinal0 [0x00933609+1193481]
	GetHandleVerifier [0x00C05904+1577972]
	GetHandleVerifier [0x00CB0B97+2279047]
	GetHandleVerifier [0x00B06D09+534521]
	GetHandleVerifier [0x00B05DB9+530601]
	Ordinal0 [0x00A14FF9+2117625]
	Ordinal0 [0x00A198A8+2136232]
	Ordinal0 [0x00A199E2+2136546]
	Ordinal0 [0x00A23541+2176321]
	BaseThreadInitThunk [0x762DFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77C37A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77C37A6E+238]

Q8: Go to webpage https://www.amazon.in/ 
Enter “Laptop” in the search field and then click the search icon. 
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image: 
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
1. Title 
2. Ratings 
3. Price 
As shown in the below image as the tick marked attributes.

In [5]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.amazon.in/')

In [6]:
search=driver.find_element_by_id('twotabsearchtextbox')
search.send_keys('Laptop')

driver.find_element_by_id('nav-search-submit-button').click()

In [55]:
#unable to set filter of CPU so filtering manually and proceed further.

#Blank lists

Title=[]
Ratings=[]
Price=[]

t=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal' or @class='a-link-normal a-text-normal']")

for i in t:
    Title.append(i.text)
    
Title=Title[0:10]

r=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']")

for i in r:
    Ratings.append(i.text)
    
Ratings=Ratings[0:10]


p=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

for i in p:
    Price.append(i.text)
    
Price=Price[0:10]

In [56]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [57]:
#creating DataFrame

Laptop_data=pd.DataFrame({'Title':Title,
                          'Ratings':Ratings,
                          'Price':Price
    
})

In [59]:
Laptop_data

driver.close()

9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps: 
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [60]:
driver=webdriver.Chrome(r'C:/Users/91995/Downloads/chromedriver_win32/chromedriver.exe')
driver.get('https://www.ambitionbox.com/')

In [63]:
job_link=driver.find_element_by_xpath("//a[@class='link jobs']")

job_link.click()

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter 
“Data Scientist” and click on search button.

In [66]:
job_title=driver.find_element_by_xpath("//input[@title='Enter Designation, Company or a Skill']")

job_title.send_keys('Data Scientist')

In [67]:
search=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")

search.click()

4. You will reach to the following web page click on location and in place of “Search location” enter 
“Noida” and select location “Noida”.

In [72]:
loc=driver.find_element_by_xpath("//div[@title='Location']")
loc.click()

In [74]:
driver.find_element_by_id('location_Noida').click()

5. Then scrape the data for the first 10 jobs results you get on the above shown page. 
6. Finally create a dataframe of the scraped data.

In [153]:
#creating blank list
Company_name=[]
posted_days=[]
Ratings=[]

C=driver.find_elements_by_xpath("//div[@class='company-info']/p")

for i in C:
    Company_name.append(i.text.replace("\n",""))
    
Company_name=Company_name[1:11]


p=driver.find_elements_by_xpath("//span[@class='body-small-l']")

for i in p:
    posted_days.append(i.text.replace("\n",""))
    
posted_days=posted_days[0:22:2]

r=driver.find_elements_by_xpath("//span[@class='body-small']")

for i in r:
    Ratings.append(i.text.replace("\n",""))
    
Ratings=Ratings[0:11]

In [154]:
print(len(posted_days),len(Ratings),len(Company_name))

10 10 10

In [155]:
job_data=pd.DataFrame({'Company_name':Company_name,
                       'posted_days':posted_days,
                       'Ratings':Ratings
                       
                                         
    
})

In [156]:
job_data

                          Company_name posted_days Ratings
0       LG Electronics India Pvt. Ltd.      9d ago     4.1
1        GENPACT India Private Limited     16d ago     4.0
2        GENPACT India Private Limited     16d ago     4.0
3  NTT Data Business Solutions Pvt Ltd     17d ago     3.8
4        GENPACT India Private Limited     18d ago     4.0
5                                Paytm      3d ago     3.7
6                             GI Group      2d ago     4.0
7                             GI Group      2d ago     4.0
8                             GI Group      2d ago     4.0
9                     Steria India Ltd    1mon ago     4.1